body
{
    color: deeppink;
 text-align: center;
 font-family: Arial, Helvetica, sans-serif;

}
#container
{
    width: 70;
    padding: 1em;
    text-align: left;
    border:  1px solid #ffffff93;
    margin: 2 auto;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    color: deepskyblue;

}